/* Styles go here */

body {
	background: url('http://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA16884-1920x1200.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	  color:black;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
.card{
  background-color:rgba(0,0,0,0.2);
  padding:3px;
}
.card-block{
  background-color:#fff;
  padding:10px;
  margin:10px;
}
.text-center{
  text-align:center;
}
